---
layout: page
title: "About"
description: ""
header-img: "img/about-bg.jpg"
---

<div class="en post-container">

    <h5>Education</h5>
    <ul class="alt">
        <li><span style="font-size=80%;font-size: 12px">2018/09 - 2020/02 </span> | <a href="http://www.cs.columbia.edu/">Computer Science</a>, Columbia University </li>
        <li><span style="font-size=80%;font-size: 12px">2014/09 - NOW </span> | <a href="http://www.cs.fudan.edu.cn/"> Computer Science</a>, Fudan University, Major: 3.80 </li>

    </ul>

    <h5>Experience</h5>
    <ul class="alt">
        <li><span style="font-size=80%;font-size: 12px">2017/11 - 2018/02 </span> | Research & Development Intern @ <a href="https://http://www.yitutech.com/">Yitu Tech.</a> </li>
        <li><span style="font-size=80%;font-size: 12px">2017/09 - 2017/11 </span> | Quantitative Research Intern @ Ping'an Tech. </li>
        <li><span style="font-size=80%;font-size: 12px">2017/07 - 2017/10 </span> | Research Assistant @ <a href="https://www.uni-goettingen.de/en/138524.html/"> UGoettingen</a>, Advised by Prof.Xiaoming Fu </li>
        <li> <span style="font-size=80%;font-size: 12px">2016/07 - 2017/04 </span> | Research Assistant @ <a href="http://english.is.cas.cn/"">ISCAS</a>, Advised by Prof.Lei Shi </li>
        <li><span style="font-size=80%;font-size: 12px">2016/02 - 2018/02 </span> | Research Assistant @ Fudan MSN group, Advised by Prof.Yang Chen</li>
    </ul>

    
    <h5>Publications</h5>
    <ul class="alt">
        <li><b>"Path-embedded Structural Human Brain Network Generation And Classification On Alzheimer’s Disease"</b>, Human Brain Mapping 2017<br />
        <u><i>Zhou Zhuang</i></u>, Yan Jin, Hanghang Tong, Lei Shi, Yang Chen, Paul M. Thompson<br /></li>
        <li><b>"Visual Analysis of Collective Anomalies Through High-Order Correlation Graph"</b>, IEEE Pacific Visualization Symposium 2018<br />
        Jun Tao, Lei Shi, <u><i>Zhou Zhuang</i></u>, Congcong Huang, Purui Su, Chaoli Wang, Yang Chen<br />
        [<a href="https://www3.nd.edu/~cwang11/research/pvis18-hocg.pdf" target="_blank">PDF</a>|<a href="http://118.190.210.193:3002/HOCG/">Demo</a>|<a href="http://lcs.ios.ac.cn/~shil/video/HOCG_PacificVis.mp4">Video</a>]</li>
        <li><b>"DeepScan: Exploiting Deep Learning for Malicious Account Detection in Location-Based Social Networks"</b>, IEEE Communications Magazine 2018<br />
        Qingyuan Gong, Yang Chen, Xinlei He, <u><i>Zhou Zhuang</i></u>, Tianyi Wang, Hong Huang, Xin Wang, Xiaoming Fu<br />
        [<a href="https://pdfs.semanticscholar.org/5059/9df17fc6814b11de86b3fcca67f5eb3df772.pdf?_ga=2.151201914.2127565851.1529717456-362972255.1526778214" target="_blank">PDF</a>]</li>
        <li><b>"Which Platform is More Favorable?A Cross-Platform Consumer Behavior Analysis ofLarge-Scale Mobile Shopping Data"</b>, International World Wide Web Conference, 2018<br />
        Hong Huang, Bo Zhao, Hao Zhao, <u><i>Zhou Zhuang</i></u>, Xiaoming Yao, Xinggang Wang, Ramin Yahyapour, Hai Jin, Xiaoming Fu<br />
        [<a href="https://www.net.informatik.uni-goettingen.de/publications/2049/WWW18_Huang.pdf" target="_blank">PDF</a>]</li>
    </ul>



</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
