---
layout: page
title: "About"
description: ""
header-img: "img/about-bg.jpg"
---

<div class="en post-container">

    <div class="about-div">
        <header><h3 align="center">About</h3></header>
        <div class="about-text-section">
            My name is Zhou Zhuang, you can call me Joel. Recently I've finished undergraduate study, and I'm hyper excited at coming to New York this autumn for my master's program in computer science! As a tech apprentice my best pals are Python and Java. My research interests involves machine learning and visualization (for details please see my publications below). I'm also much interested in system architectures.<br />
        </div>
        <div class="about-text-section">
            <header><h5>Education</h5></header>
            <ul class="alt">
                <li>2018/09 - 2020/02 | <a href="http://www.cs.columbia.edu/">Computer Science, Columbia University</a></li>
                <li>2014/09 - 2018/07 | <a href="http://www.cs.fudan.edu.cn/"> Information Security, Fudan University</a></li>
            </ul>
        </div>
    <hr />
    </div>

    <!-- <h5>Experience</h5>
    <ul class="alt">
        <li><span style="font-size=80%;font-size: 12px">2017/11 - 2018/02 </span> | Research & Development Intern @ <a href="https://http://www.yitutech.com/">Yitu Tech.</a> </li>
        <li><span style="font-size=80%;font-size: 12px">2017/09 - 2017/11 </span> | Quantitative Research Intern @ Ping'an Tech. </li>
        <li><span style="font-size=80%;font-size: 12px">2017/07 - 2017/10 </span> | Research Assistant @ <a href="https://www.uni-goettingen.de/en/138524.html/"> UGoettingen</a>, Advised by Prof.Xiaoming Fu </li>
        <li> <span style="font-size=80%;font-size: 12px">2016/07 - 2017/04 </span> | Research Assistant @ <a href="http://english.is.cas.cn/"">ISCAS</a>, Advised by Prof.Lei Shi </li>
        <li><span style="font-size=80%;font-size: 12px">2016/02 - 2018/02 </span> | Research Assistant @ Fudan MSN group, Advised by Prof.Yang Chen</li>
    </ul> -->


    <div class="about-div">
        <header><h3 align="center">Research</h3></header>
        <div class="about-text-section">
            <header>
                <h5>Path-embedded Structural Human Brain Network Generation And Classification On Alzheimer’s Disease</h5>
                <p>Published on "Human Brain Mapping 2018"<br />
                <u><i>Zhou Zhuang</i></u>, Yan Jin, Hanghang Tong, Lei Shi, Yang Chen, Paul M. Thompson</p>
            </header>
            <img src="/img/about/OHBM.png"/>
            The study of the human connectome can be beneficial for understanding how the brain changes in Alzheimer’s disease and normal aging. Most existing network generation practices build each subject’s structural brain connectivity network as an end-to-end network model. In these approaches, topological information on fiber tract paths is bypassed. Here we propose a new, path-embedded treatment of the fiber tracts, in which the intermediate ROIs, that each fiber goes through, are taken into account, in addition to the starting and ending ROIs. <br /><br />
        </div>
        <div class="about-text-section">
            <header>
                <h5>Visual Analysis of Collective Anomalies Through High-Order Correlation Graph</h5>
                <p>Published on "IEEE Pacific Visualization Symposium 2018"; [<a href="https://www3.nd.edu/~cwang11/research/pvis18-hocg.pdf" target="_blank">PDF</a>|<a href="http://118.190.210.193:3002/HOCG/">Demo</a>|<a href="http://lcs.ios.ac.cn/~shil/video/HOCG_PacificVis.mp4">Video</a>]<br/>
                Jun Tao, Lei Shi, <u><i>Zhou Zhuang</i></u>, Congcong Huang, Purui Su, Chaoli Wang, Yang Chen</p>
            </header>
            <img src="/img/about/HOCG.png"/>
            High-Order Correlation Graph is a visualization tool designed for detecting, analyzing and reasoning collective anomalies for complex systems. We design elaborate visual metaphors, interaction models, and the coordinated multiple view based interface to allow users to fully unleash the visual analytics power over HOCG.<br /><br />
        </div>
        <div class="about-text-section">
            <header>
                <h5>DeepScan: Exploiting Deep Learning for Malicious Account Detection in Location-Based Social Networks</h5>
                <p>Published on "IEEE Communications Magazine 2018"; [<a href="https://pdfs.semanticscholar.org/5059/9df17fc6814b11de86b3fcca67f5eb3df772.pdf?_ga=2.151201914.2127565851.1529717456-362972255.1526778214" target="_blank">PDF</a>]<br/>
                Qingyuan Gong, Yang Chen, Xinlei He, <u><i>Zhou Zhuang</i></u>, Tianyi Wang, Hong Huang, Xin Wang, Xiaoming Fu</p>
            </header>
            <img src="/img/about/DeepScan.png"/>
            "DeepScan" is a malicious account detection system designed for local based social networks. DeepScan leverages emerging deep learning technologies to learn users’ dynamic behavior. It combines time series features and a set of convolutional features extracted from user activities, and exploits a Bi-LSTM for learning and detection. <br /><br />
        </div>
        <div class="about-text-section">
            <header>
                <h5>Which Platform is More Favorable? A Cross-Platform Consumer Behavior Analysis of Large-Scale Mobile Shopping Data</h5>
                <p>Published on "International World Wide Web Conference 2018"; [<a href="https://www.net.informatik.uni-goettingen.de/publications/2049/WWW18_Huang.pdf" target="_blank">PDF</a>]<br/>
                Hong Huang, Bo Zhao, Hao Zhao, <u><i>Zhou Zhuang</i></u>, Xiaoming Yao, Xinggang Wang, Ramin Yahyapour, Hai Jin, Xiaoming Fu</p>
            </header>
             In this paper, we examine the consumer behaviors across multiple platforms based on a largescale mobile Internet dataset from a major telecom operator, which covers 9.8 million users from two regions among which 1.4 million users have visited e-commerce platforms within one week of our study. <br /><br />
        </div>
    <hr />
    </div>



    <div class="about-div">
        <header><h3 align="center">More on me</h3></header>
        <!--<img src="/img/about/basketball.JPG" style="float:left;height:200px;margin:0 20px 0 0;"/>-->
        <div class="about-text-section">
            I'm a huge basketball fan. My homies are 2009-2017 LA Clippers. After 2017 when Chris Paul left LAC for Huston I was at peace. I also play basketball myself, and was luckily selected as an All-Star Player in Fudan Freshman Basketball Series. That was my very short career prime. <br /><br />

            I started playing with music when I was five, and since then I learned to play the piano for eleven years. Throughout that time it was Bach's music I felt most comfortable to play with. After I quitted piano I was caught by a fascination towards Jazz. Right now my favorite Jazz composor is Ramsey Lewis. I would turn to Electro Swing from time to time to maintain my ameteur Jazz interests :-). <br /><br />

            I love reading. My Jazz interests led me to Murakami Haruki, most works of whom I'm familiar with. And further he led me to Francis Fitzgerald and Herman Hesse. My favorite writers also include Stefan Zweig and Milan Kundera. I love them equally. The subtitle at my home page "So we beat on, boats against the current, borne back ceaselessly into the green light." is a quote to the last sentence in "The Great Gatsby" by Fitzgerald, where I changed the word "past" to "the green light".<br />
            <!-- <img src="/img/about/cscs.jpg" style="float:left;width:19%;margin-right:1%;">
            <img src="/img/about/fitzgerald.jpg" style="float:left;width:19%;margin-right:1%;">
            <img src="/img/about/hesse.jpg" style="float:left;width:19%;margin-right:1%;">
            <img src="/img/about/zweig.jpg" style="float:left;width:19%;margin-right:1%;">
            <img src="/img/about/kundera.jpg" style="float:left;width:19%;margin-right:1%;"> -->
        </div>
    <hr />
    </div>

</div>

<!-- Handle Language Change -->
<!-- <script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script> -->



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
